@model Worker
<div>
    <div class="mb-1 form-group row">

        <div><img src="/Pictures/@Model.Picture" class="img-thumbnail" style="width:120px" /></div>
        <label class="col-3 text-center">@Model.WorkerName</label>
    </div>
    <div class="mb-1 form-group row">
        <label class="col-3">Phone</label>
        <div class="col-9">@Model.Phone</div>
    </div>
    <div class="mb-1 form-group row">
        <label class="col-3">Address</label>
        <div class="col-9 align-middle">@Model.Address</div>
    </div>
</div>
<div class="col-2">
</div>



