@model Worker
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-8">
        <form asp-action="Edit" asp-controller="Workers" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="WorkerId" />
            <h3>Add new worker</h3>
            <div class="form-group row mb-1">
                <label asp-for="WorkerName" class="col-form-label col-form-label-sm col-2 text-end"></label>
                <div class="col-10">
                    <input asp-for="WorkerName" class="form-control form-control-sm" />
                    <span asp-validation-for="WorkerName" class="text-danger" style="font-size:small"></span>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="Phone" class="col-form-label col-form-label-sm col-2 text-end"></label>
                <div class="col-10">
                    <input asp-for="Phone" class="form-control form-control-sm" />
                    <span asp-validation-for="Phone" class="text-danger" style="font-size:small"></span>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="Address" class="col-form-label col-form-label-sm col-2 text-end"></label>
                <div class="col-10">
                    <textarea asp-for="Address" class="form-control form-control-sm"></textarea>
                    <span asp-validation-for="Address" class="text-danger" style="font-size:small"></span>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="PayRate" class="col-form-label col-form-label-sm col-2 text-end"></label>
                <div class="col-10">
                    <input asp-for="PayRate" class="form-control form-control-sm" />
                    <span asp-validation-for="PayRate" class="text-danger" style="font-size:small"></span>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="Picture" class="col-form-label col-form-label-sm col-2 text-end"></label>
                <div class="col-10">
                    <input type="file" asp-for="Picture" class="form-control form-control-sm" />
                    <span asp-validation-for="Picture" class="text-danger" style="font-size:small"></span>
                </div>
            </div>
            <div class="form-group row">

                <div class="col-10 offset-2 text-end">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4">
        <div class="pt-5">
            <img style="width:200px" src="~/Pictures/@ViewBag.Current" class="rounded-4 p-0 border-1" />
        </div>
    </div>
    <div class="col-12">
        @Html.ActionLink("Back to list", "Index", null, new { @class = "my-link-style btn btn-primary", style = "color: White; font-weight: bold;" })
    </div>
</div>
@section scripts
    {

    <script src="~/libs/jquery/jquery.js"></script>
    <script src="~/libs/validate/jquery.validate.js"></script>
    <script src="~/libs/validate/jquery.validate.unobtrusive.js"></script>
}
